* {
  padding: 0;
  margin: 0;
  box-sizing:border-box;
}

header {
  width:100%;
  height: 70px;
  background-color: #EC715F;
}

.header-box {
  width:1024px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.header-logo {
  height: 70px;
  text-align: left;
}

.hbg {
  display: none;
}

.header-nav {
  text-align: right;
}

.header-menu {
  height: 70px;
  font-size: 0;
  line-height: 70px;
}

.header-menu-item {
  display: inline-block;
  margin: 0 30px;
  list-style: none;
  font-size: 16px;
  color: #fafafa;
}

.main-visual {
  height: 650px;
  background-image: url(img/mv.png);
  background-size: cover;
  background-position: center;
}

.main-visual-contents {
  margin: 0 auto;
}

.main-visual-title {
  padding-top: 200px;
  font-size: 64px;
  color: #fafafa;
  text-align: center;
}

.main-visual-text {
  padding-top: 10px;
  font-size: 20px;
  color: #fafafa;
  text-align: center;
}

.portfolio {
  background-color: #ECEFF1;
}

.portfolio-contents {
  width: 920px;
  margin: 0 auto;
}

.portfolio-title {
  padding:90px 0 8px 0;
  font-size: 32px;
  color: #000000;
  text-align: center;
}

.under_bar {
  width:70px;
  height: 3px;
  background-color: #EC715F;
  margin: 0 auto;
}

.portfolio-text {
  padding: 30px 0;
  font-size: 16px;
  color: #000000;
  text-align: center;
}

.portfolio-list {
  /*width: 920px;*/
  display: flex;
  justify-content: center;
  flex-flow: wrap;
  padding-bottom: 90px;
  /*margin: 0 auto;*/
}

.portfolio-item {
  width: 300px;
  height: 250px;
  margin: 0 10px 10px 0;
  background-size: cover;
  background-position: center;
}

.pf1 {
  background-image: url(img/sketch.jpg);
}

.pf2 {
  background-image: url(img/websuku.png);
}

.pf3 {
  background-image: url(img/write.jpg);
  margin: 0 0 10px 0;
}

.pf4 {
  background-image: url(img/webcamp.png);
  margin: 0 10px 0 0;
}

.pf5 {
  background-image: url(img/talk.jpg);
  margin: 0 10px 0 0;
}

.pf6 {
  background-image: url(img/webcamp-mother.png);
  margin: 0;
}

.feature-contents {
  width: 980px;
  margin: 0 auto;
}

.feature-title {
  padding: 90px 0 8px 0;
  font-size: 32px;
  color: #000000;
  text-align: center;
}

.feature-text {
  font-size: 16px;
  color: #000000;
  padding: 30px 0;
  text-align: center;
}

.feature-list {
  /*width: 980px;*/
  /*margin: 0 auto;*/
  padding-bottom: 90px;
  display: flex;
  justify-content: center;
}

.feature-item {
  width: 320px;
}

.s2 {
  margin: 0 10px;
}

.feature-icon {
  font-size: 3.75em;
  text-align: center;
}

.strength {
  padding: 10px 0;
  font-size: 20px;
  color: #000000;
  text-align: center;
}

.profile {
  background-color: #ECEFF1;
}

.profile-contents {
  width: 1024px;
  margin: 0 auto;
}

.profile-title {
  padding: 90px 0 8px 0;
  font-size: 32px;
  color: #000000;
  text-align: center;
}

.profile-text {
  padding: 30px 0;
  font-size: 16px;
  color: #000000;
  text-align: center;
}

.profile-detail {
  /*width: 1024px;*/
  padding-bottom: 90px;
  /*margin: 0 auto;*/
  display: flex;
  justify-content: center;
}

.profile-image {
  width: 512px;
}

.profile-image_one {
  width: 250px;
  height: 250px;
  margin: 0 auto;
  background-image: url(img/my-icon.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 50%;
}

.profile-detail-sub {
  width: 512px;
}

.profile-my_name {
  font-size: 20px;
  padding-bottom: 5px;
}

.profile-my_skills {
  font-size: 20px;
  padding: 20px 0 5px 0;
}

.contact-contents {
  width: 800px;
  margin: 0 auto;
}

.contact-title {
  padding: 90px 0 8px 0;
  font-size: 32px;
  color: #000000;
  text-align: center;
}

.contact-text {
  padding: 30px 0;
  font-size: 16px;
  color: #000000;
  text-align: center;
}

.contact-box {
  /*margin: 0 auto;*/
  padding-bottom: 90px;
  /*width: 800px;*/
  display: flex;
  justify-content: center;
}

.contact-box-mail_tell {
  width: 400px;
}

.contact-box-mail_tell2 {
  width: fit-content;
  margin: 0 auto;
}

.contact-item {
  font-size: 20px;
  padding-bottom: 5px;
}

.contact-mail {
  padding-bottom: 20px;
}

.contact-box-sns {
  width: 400px;
}

.contact-box-sns2 {
  width: fit-content;
  margin: 0 auto;
}

.contact-sns-icon {
  display: flex;
  justify-content: start;
}

.contact-sns-icon-item {
  padding-right: 20px;
}

.fa-brands {
  font-size: 3.125em;
}

footer {
  background-color: #EC715F;
  height: 60px;
  font-size: 16px;
  color: #fafafa;
  line-height: 60px;
  text-align: center;
}

@media screen and (max-width: 425px) {
  header {
    height: 50px;
  }

  .header-box {
    width: 90%;
    height: 50px;
  }

  .header-logo {
    height: 50px;
  }

  .header-nav{
    display: none;
  }

  .hbg {
    display: block;
    padding: 5px 0;
    font-size: 40px;
    line-height: 50px;
    color: #fafafa;
  }

  .main-visual {
    background-image: url(img/code.png);
  }

  .main-visual-contents {
    width: 90%;
    padding: 90px 0;
    margin: 0 auto;
  }

  .main-visual-title {
    padding-top: 0;
    font-size: 40px;
  }

  .main-visual-text {
    font-size: 18px;
  }

  .portfolio-contents {
    width: 90%;
  }

  .pf1, .pf3, .pf5 {
    display: none;
  }

  .portfolio-item {
    margin: 0;
  }

  .pf4 {
    margin: 10px 0;
  }

  .feature-contents{
    width: 90%;
  }

  .feature-list {
    display: block;
  }

  .feature-item {
    margin: 0 auto;
  }

  .strength-text {
    padding-bottom: 10px;
  }

  .st3 {
    padding-bottom: 0;
  }

  .profile-contents {
    width: 90%;
    margin: 0 auto;
  }

  .profile-detail {
    display: block;
  }

  .profile-image {
    width: auto;
  }

  .profile-detail-sub {
    width: auto;
    text-align: center;
  }

  .profile-my_name {
    padding: 20px 0 5px 0;
  }

}